In [1]:
s = "sudh"

In [3]:
s + str(1)

'sudh1'

In [4]:
s*10

'sudhsudhsudhsudhsudhsudhsudhsudhsudhsudh'

In [5]:
[1,2,3,4,"sdsd"] *3

[1, 2, 3, 4, 'sdsd', 1, 2, 3, 4, 'sdsd', 1, 2, 3, 4, 'sdsd']

In [6]:
s.upper()

'SUDH'

In [7]:
a = "SUdh"

In [8]:
a.lower()

'sudh'

In [28]:
a = 'sudhfAsfAfsaAAAAA '

In [31]:
type(a.split('A'))

list

In [32]:
type(a.partition('A'))

tuple

In [33]:
d = "sfasfdfsadfsafsfsaf"

In [36]:
d.find('z')

-1

In [37]:
f = "sudh"

In [42]:
f.center(50,'#')

'#######################sudh#######################'

In [46]:
'sudh\tkumar\tsfsfd\t'.expandtabs()

'sudh    kumar   sfsfd   '

In [47]:
'my name is {} kuamr '.format('sudh')

'my name is sudh kuamr '

In [52]:
a = input("plese give your first  name")
b = input("plese give me your last name")

"my name is {} {}".format(a,b)

plese give your first  namesudh\
plese give me your last namekuar

'my name is sudh\\ kuar'

In [75]:
s = "23434dfs"

In [70]:
s.isalnum()

False

In [71]:
s.isalpha()

False

In [76]:
s.islower()

True

In [83]:
s = "Hsfs"

In [84]:
s.isupper()

False

In [86]:
s.istitle()

True

In [90]:
s.endswith('s')

True

In [91]:
len(s)

4

In [92]:
print(s)

Hsfs

In [93]:
s

'Hsfs'

In [98]:
a = [1,2,3,4,5,"hello","sudh",4.56,[3,4,5]]
b = [4,6,7,8,"my",'name']

In [99]:
m = [] 
for i in a :
    m.append(i)
m

[1, 2, 3, 4, 5, 'hello', 'sudh', 4.56, [3, 4, 5]]

In [104]:
(a+b)*1

[1, 2, 3, 4, 5, 'hello', 'sudh', 4.56, [3, 4, 5], 4, 6, 7, 8, 'my', 'name']

In [107]:
b + list("sudh")

[4, 6, 7, 8, 'my', 'name', 's', 'u', 'd', 'h']

In [110]:
list([34])

[34]

In [111]:
b

[4, 6, 7, 8, 'my', 'name']

In [124]:
b.append([5,6,7,8])

In [125]:
b

[4,
 6,
 7,
 'sfa',
 8,
 'my',
 'name',
 'sudh',
 'sfa',
 'zzz',
 [3, 4, 5, 6],
 'sfadf',
 [5, 6, 7, 8]]

In [122]:
b.insert(-1,[3,4,5,6])

In [123]:
b

[4, 6, 7, 'sfa', 8, 'my', 'name', 'sudh', 'sfa', 'zzz', [3, 4, 5, 6], 'sfadf']

In [126]:
b

[4,
 6,
 7,
 'sfa',
 8,
 'my',
 'name',
 'sudh',
 'sfa',
 'zzz',
 [3, 4, 5, 6],
 'sfadf',
 [5, 6, 7, 8]]

In [129]:
b.pop()

'sfadf'

In [130]:
b

[4, 6, 7, 'sfa', 8, 'my', 'name', 'sudh', 'sfa', 'zzz', [3, 4, 5, 6]]

In [131]:
b.pop(2)

7

In [132]:
b

[4, 6, 'sfa', 8, 'my', 'name', 'sudh', 'sfa', 'zzz', [3, 4, 5, 6]]

In [133]:
b[::-1]

[[3, 4, 5, 6], 'zzz', 'sfa', 'sudh', 'name', 'my', 8, 'sfa', 6, 4]

In [134]:
b.reverse()

In [136]:
b

[[3, 4, 5, 6], 'zzz', 'sfa', 'sudh', 'name', 'my', 8, 'sfa', 6, 4]

In [141]:
b = b[::-1]

In [142]:
b

[[3, 4, 5, 6], 'zzz', 'sfa', 'sudh', 'name', 'my', 8, 'sfa', 6, 4]

In [139]:
b.reverse()

In [140]:
b

[4, 6, 'sfa', 8, 'my', 'name', 'sudh', 'sfa', 'zzz', [3, 4, 5, 6]]

In [143]:
b.sort()

TypeError: '<' not supported between instances of 'str' and 'list'

In [149]:
n = [3,4,5,6,7]

In [152]:
n.sort(reverse=True)

In [153]:
n

[7, 6, 5, 4, 3]

In [158]:
a = [3,4,5,6,7]
b = [56,6,7,89,8]
c = [2,3,4,5,6,7,8,8,9,0]

d = [a,b,c]
d

[[3, 4, 5, 6, 7], [56, 6, 7, 89, 8], [2, 3, 4, 5, 6, 7, 8, 8, 9, 0]]

In [160]:
d[-1][::2]

[2, 4, 6, 8, 9]

In [210]:
m = []
d = d[::-1]
for b in d :
    type(m.append(b[::-1]))

In [172]:
d

[[0, 9, 8, 8, 7, 6, 5, 4, 3, 2], [8, 89, 7, 6, 56], [7, 6, 5, 4, 3]]

In [173]:
m

[[2, 3, 4, 5, 6, 7, 8, 8, 9, 0], [56, 6, 7, 89, 8], [3, 4, 5, 6, 7]]

In [174]:
m

[[2, 3, 4, 5, 6, 7, 8, 8, 9, 0], [56, 6, 7, 89, 8], [3, 4, 5, 6, 7]]

In [179]:
n = []
for i in m:
    n.append(i[2]*2)

In [180]:
n

[8, 14, 10]

In [182]:
[{i[2]*2} for i in m]

[{8}, {14}, {10}]

In [183]:
s = [1,3,4,5,5]

In [188]:
s.append([3,4,5,6,7])

In [189]:
s

[1, 3, 4, 5, 5, 4, 'fsf', [3, 4, 5, 6, 7]]

In [190]:
m = [4,5,6,7,"fdf"]

In [193]:
m.extend([7,8,9,[6,7,8,"dss"]])

In [194]:
m

[4, 5, 6, 7, 'fdf', 6, 7, 8, 'dss', 7, 8, 9, [6, 7, 8, 'dss']]

In [197]:
m.index(698)

ValueError: 698 is not in list

In [198]:
m

[4, 5, 6, 7, 'fdf', 6, 7, 8, 'dss', 7, 8, 9, [6, 7, 8, 'dss']]

In [199]:
m.remove(6)

In [200]:
m

[4, 5, 7, 'fdf', 6, 7, 8, 'dss', 7, 8, 9, [6, 7, 8, 'dss']]

In [208]:
for i in m :
    if i == 7:
        m.remove(7)
    elif type(i) == list:
        i.remove(7)
    else :
        print("not able to remove anything ")

not able to remove anything
not able to remove anything
not able to remove anything
not able to remove anything
not able to remove anything
not able to remove anything
not able to remove anything
not able to remove anything

In [209]:
m

[4, 5, 'fdf', 6, 8, 'dss', 8, 9, [6, 8, 'dss']]

In [213]:
a = [2,2,3,5]
a.append([5,6,7])
a

[2, 2, 3, 5, [5, 6, 7]]

In [216]:
b= [5,6,7,7]
b.extend([5,6,7])
b

[5, 6, 7, 7, 5, 6, 7]

In [221]:
s = "sudh"
s.find('Z')

-1

In [220]:
d = [5,6,7,8]
d.index(89)

ValueError: 89 is not in list

In [232]:
[m*2 for m in [i[2] for i in [[1,2,3],[6,7,8],[5,6,6,7,8]]]]

[6, 16, 12]

In [230]:
[i[2] for i in [[1,2,3],[6,7,8],[5,6,6,7,8]]]

[3, 8, 6]

In [233]:
s = "sudh"

In [235]:
s[0] = "o"

TypeError: 'str' object does not support item assignment

In [236]:
l = [3,4,5,6]

In [238]:
l[0]= 67

In [239]:
l

[67, 4, 5, 6]

In [240]:
l = [4,5,6,7]
l.insert(2,"sudh")

In [241]:
l

[4, 5, 'sudh', 6, 7]

In [243]:
s = "sudhanshunn"
s.partition('n')

('sudha', 'n', 'shunn')

In [245]:
for i in 8:
    pass

TypeError: 'int' object is not iterable

In [247]:
a = [2,,3,,]
for i in a :
    pass

SyntaxError: invalid syntax (<ipython-input-247-3dbf40f4ea63>, line 1)

In [251]:
a = '2,,3,,'
b = a.split(',')
b

['2', '', '3', '', '']

In [259]:
len(b[0])

1

In [256]:
m = []
for i in b :
    if len(i) != 0 :
        m.append(i)

In [257]:
m

['2', '3']

In [262]:
[i*9 for i in [i for i in [3,4,5,6] for i in [0,1,2,3]]]

[0, 9, 18, 27, 0, 9, 18, 27, 0, 9, 18, 27, 0, 9, 18, 27]